<div class="container">
  <nav class="footer">
    <ul>
      <li><a href="https://github.com/armandfardeau"><%= inline_svg 'github.svg' %></a></li>
      <li><a href="https://www.linkedin.com/in/armandfardeau/"><%= inline_svg 'linkedin.svg' %></a></li>
      <li><a href="https://twitter.com/armand_fardeau"><%= inline_svg 'twitter.svg' %></a></li>
    </ul>
    <p class='copyright'>© 2018 Armand Fardeau</p>
  </nav>
</div>

<nav class="header_footer-mobile">
  <%= link_to root_path do %>
    <%= inline_svg 'home.svg' %>
  <% end %>
  <%= link_to portfolio_index_path do %>
    <%= inline_svg 'portfolio.svg' %>
  <% end %>
  <%= link_to 'https://medium.com/@armandfardeau' do %>
    <%= inline_svg 'blog.svg' %>
  <% end %>
  <%= link_to pages_about_path do %>
    <%= inline_svg 'about.svg' %>
  <% end %>
  <%= link_to pages_contact_path do %>
    <%= inline_svg 'contact.svg' %>
  <% end %>
</nav>