<nav>
  <ul>
    <li><%= link_to 'Welcome', root_path %></li>
    <li><%= link_to 'Portfolio', root_path %></li>
    <li><%= link_to 'Blog', root_path %></li>
    <li><%= link_to 'About', root_path %></li>
    <li><%= link_to 'Contact', root_path %></li>
  </ul>
  <a class='author_name' href="">Armand Fardeau</a>
</nav>