<nav class="header">
  <ul>
    <li><%= link_to 'Welcome', root_path %></li>
    <li><%= link_to 'Portfolio', portfolio_index_path %></li>
    <li><%= link_to 'Blog', 'https://medium.com/@armandfardeau' %></li>
    <li><%= link_to 'About', pages_about_path %></li>
    <li><%= link_to 'Contact', pages_contact_path %></li>
  </ul>
  <a class='author_name' href="">Armand Fardeau</a>
</nav>