<div class="container contact">
  <h2>Contact me</h2>
  <div class="icon-container">
    <div class="icon-content">
      <a href=""><%= inline_svg 'linkedin.svg' %></a>
    </div>
    <div class="icon-content">
      <a href=""><%= inline_svg 'github.svg' %></a>
    </div>
    <div class="icon-content">
      <a href=""><%= inline_svg 'facebook.svg' %></a>
    </div>
    <div class="icon-content">
      <a href=""><%= inline_svg 'twitter.svg' %></a>
    </div>
    <div class="icon-content">
      <a href="mailto:fardeauarmand@gmail.com"><%= inline_svg 'gmail.svg' %></a>
    </div>
  </div>
</div>