<div class="container contact">
  <h2>Contact me</h2>
  <div class="icon-container">
    <div class="icon-content">
      <a href="https://www.linkedin.com/in/armandfardeau/"><%= inline_svg 'linkedin.svg' %></a>
    </div>
    <div class="icon-content">
      <a href="https://github.com/armandfardeau"><%= inline_svg 'github.svg' %></a>
    </div>
    <div class="icon-content">
      <a href="https://www.facebook.com/a.fardeau"><%= inline_svg 'facebook.svg' %></a>
    </div>
    <div class="icon-content">
      <a href="https://twitter.com/armand_fardeau"><%= inline_svg 'twitter.svg' %></a>
    </div>
    <div class="icon-content">
      <a href="mailto:fardeauarmand@gmail.com"><%= inline_svg 'gmail.svg' %></a>
    </div>
  </div>
</div>