<div class="container portfolio_single-container">
  <div class="portfolio_single-left">
    <%= link_to 'Back to portfolio', portfolio_index_path %>
  </div>
  <div class="portfolio_single-right">
    <%= image_tag @portfolio.picture.url(:large) %>
    <h2><%= @portfolio.title %></h2>
    <h4>Description:</h4>
    <%= raw @portfolio.description %>

    <% if @portfolio.client %>
      <h5>Client:</h5>
      <p><%= @portfolio.client %></p>
    <% end %>

    <% if @portfolio.date %>
      <h5>Stack: </h5>
      <%= raw @portfolio.stack %>
    <% end %>

    <% if @portfolio.date %>
      <H5>Date:</H5>
      <p><%= @portfolio.date.strftime('%d.%m.%y') %></p>
    <% end %>

    <% if @portfolio.duration %>
      <h5>Duration:</h5>
      <p><%= @portfolio.duration %><%= @portfolio.duration > 1 ? ' man/days' : ' man/day' %></p>
    <% end %>

  </div>
</div>