<div class="container portfolio_single-container">
  <div class="portfolio_single-left">
    <%= link_to 'Back to portfolio', portfolio_index_path %>
  </div>
  <div class="portfolio_single-right">
    <%= image_tag @portfolio.picture.url(:large) %>
    <h2><%= @portfolio.title %></h2>
    <h4>Description:</h4>
    <p><%= @portfolio.description %></p>
    <h4>Client:</h4>
    <p><%= @portfolio.client %></p>
    <h5>Stack: </h5>
    <p><%= @portfolio.stack %></p>
    <H5>Date:</H5>
    <p><%= @portfolio.date.strftime('%d.%m.%y') %></p>
    <h5>Duration:</h5>
    <p><%= @portfolio.duration %><%= @portfolio.duration > 1 ? ' man/days' : ' man/day' %></p>
  </div>
</div>